* {
	margin: 0px;
	padding: 0px;
	color: #3c3c3c;
}

body {
	font-family: "宋体";
	min-width: 1200px;
	background: #f7f7f7;
}

a {
	text-decoration: none;
}
.nav1 {
	width: 100%;
	height: 36px;
	background-color: #f5f5f5;
}

.nav1_content {
	width: 1200px;
	margin: 0 auto;
	height: 36px;
	line-height: 36px;
	font-size: 12px;
	color: #3c3c3c;
	font-family: arial;
	letter-spacing: 1px;
}

.nav1_left {
	float: left;
	padding-left: 10px;
}

.nav1_right {
	float: right;
}

.nav1_left li {
	list-style: none;
	float: left;
	margin-right: 15px;
}

.nav1_right li {
	list-style: none;
	float: left;
	margin-left: 15px;
}

#login {
	color: #f40;
}

.saler:before {
	content: "\007C";
	padding-right: 15px;
	font-size: 13px;
	color: #ddd;
}

.changecolor:hover {
	color: #f40;
	cursor: pointer;
}

.nav2 {
	width: 1200px;
	height: 100px;
	margin: 0 auto;
	padding: 30px 0 15px 0;
	background: #fff;
}

.logo {
	float: left;
	width: 200px;
	height: 100px;
	text-align: center;
}

.logo img {
	height: 60px;
	margin-top: 20px;
}

.nav2_search span {
	font-size: 14px;
}

.nav2_search {
	float: left;
	width: 660px;
	padding-left: 40px;
}

.nav2_search_top {
	height: 22px;
	padding-left: 20px;
	padding-top: 5px;
}

.search_top {
	display: inline-block;
	width: 30px;
	height: 20px;
	line-height: 22px;
	font-size: 13px;
	letter-spacing: 0.5px;
	color: #f40;
	padding: 2px 2px 0;
	text-align: center;
	cursor: pointer;
}

.focus {
	display: inline-block;
	width: 30px;
	height: 20px;
	line-height: 22px;
	font-size: 13px;
	letter-spacing: 0.5px;
	padding: 2px 2px 0;
	text-align: center;
	cursor: pointer;
	background: -webkit-linear-gradient(left, #ff9000 0%,#ff5000 100%);
	font-weight: bold;
	color: #fff;
	border-radius: 6px 6px 0px 0px;
}

.search_top:hover {/*未被选中的鼠标滑过变背景色*/
	background: #ffe4dd;
}

.search {
	width: 660px;
	height: 44px;
}

.search_l {
	float: left;
	width: 526px;
	height: 40px;
	border: 2px solid #f40;
	border-radius: 50px 0px 0px 50px;
	border-right: none;
}
.search_l input {
	width: 460px;
	height: 30px;
	line-height: 30px;
	display: block;
	float: left;
	margin: 5px 10px;
	border: none;
	outline: none;
}
.search_l div {
	display: inline-block;
	width: 44px;
	height: 40px;
	cursor: pointer;
}
.search_l img {
	height: 30px;
	margin: 5px;
}

.search_r button {
	height: 44px;
	width: 80px;
	border: none;
	border-radius: 0px 50px 50px 0px;
	background: -webkit-linear-gradient(left, #ff9000 0%,#ff5000 100%);
	color: #fff;
	font-size: 20px;
	font-family: "宋体";
	font-weight: bold;
	cursor: pointer;
}

.search_bottom {
	font-size: 13px;
	width: 550px;
	padding: 5px;
}

.qrcode {
	width: 100px;
	height: 90px;
	display: inline-block;
	padding-left: 30px;
}

.qrcode img {
	height: 90px;
}

.nav3 {
	width: 1200px;
	margin: 0 auto;
	height: 30px;
	font-weight: bold;
}

.nav3_tit {
	float: left;
	width: 180px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: #f40;
	color: #fff;
}

.nav3_list {
	width: 1020px;
	display: inline-block;
	background: -moz-linear-gradient(left, #ff9000 0%,#ff5000 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ff9000), color-stop(100%,#ff5000));
    background: -webkit-linear-gradient(left, #ff9000 0%,#ff5000 100%);
    background: -o-linear-gradient(left, #ff9000 0%,#ff5000 100%);
    background: -ms-linear-gradient(left, #ff9000 0%,#ff5000 100%);
	background: linear-gradient(left,#ff9000 0%,#ff5000 100%);
}

.nav3_list li {
	list-style: none;
	float: left;
	position: relative;
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	color: #fff;
	font-family: "Microsoft YaHei","微软雅黑";
	cursor: pointer;
}

.nav3_list li:hover:before {
	content: "";
	background: url('images/icon_01.png') no-repeat top;
	position: absolute;
	display: block;
	width: 22px;
	height: 13px;
	left: 50%;
	top: -13px;
	margin-left: -11px;
	z-index: 5;
}

.li_icon:after { /*不能有2个before?试试after*/
	content: "\007C";/*|代码*/
	padding: 9px 0 9px 15px;
	font-size: 13px;
	font-weight: normal;
}

.nav4 {
	position: relative;
	width: 1200px;
	height: 455px;
	margin: 0 auto;
	background: #f7f7f7;
}

.nav4_left {
	height: 455px;
	width: 178px;
	border: 1px solid #f40;
	background: #fff;
}

.nav4_left_con {
	padding-top: 3px;
}

.nav4_left_con li {
	list-style: none;
	width: 163px;
	height: 22px;
	line-height: 22px;
	font-size: 14px;
	font-weight: normal;
	font-family: "Microsoft YaHei","微软雅黑";
	padding: 3px 0 3px 15px;
}

.nav4_left_con li a+a:before {
	content: "/\00a0";/*自动插入分隔符*/
	padding: 2px;
}

.nav4_left_con li:after {
	content: "\009B";/*›代码不显示*/
}

.nav4_left_con li:hover {
	color: #f40;
	background: #ffe4dd;
}
.nav4_left_con li:hover a{
	color: #f40;
}
.nav4_left_con li a:hover{
	text-decoration-line: underline;
}

.nav4_mid {
	position: absolute;
	width: 720px;
	height: 457px;
	margin-left: 180px;
	margin-top: -457px;
}

.nav4_mid1 {
	float: left;
	width: 540px;
	height: 280px;
	background: red;
	margin-top: 10px;
	margin-left: 10px;
}

.nav4_mid2 {
	float: left;
	width: 158px;
	height: 280px;
	background: yellow;
	margin-left: 10px;
	margin-top: 10px;
}

.nav4_mid3 {
	float: left;
	width: 540px;
	height: 150px;
	background: green;
	margin-top: 17px;
	margin-left: 10px;

}

.nav4_mid4 {
	float: left;
	width: 158px;
	height: 150px;
	background: blue;
	margin-top: 17px;
	margin-left: 10px;
}

.nav4_right {
	float: right;
	width: 290px;
	height: 448px;
	background-color: #fff;
	margin-top: -447px;
}

.nav4_right1 {
	height: 280px;
}

.member {
	width: 290px;
	height: 150px;
}

.member_avatar {
	height: 50px;
	width: 50px;
	margin: 0 auto;
	padding-top: 10px;
}

.member_avatar img {
	width: 50px;
	border-radius: 50%;
}

.member02 {
	height: 16px;
	line-height: 16px;
	font-size: 12px;
	text-align: center;
	font-family: "Microsoft YaHei","微软雅黑";
}

.member03 {
	width: 190px;
	height: 20px;
	margin: 0 auto;
}

.member03_l {
	display: inline-block;
	width: 95px;
	height: 16px;
	line-height: 16px;
	background: #ffe4dd;
	font-size: 12px;
	color: #f40;
	border-radius: 50px;
}

.member03_l_img {
	float: left;
	width: 16px;
	height: 16px;
	background-image: url(https://img.alicdn.com/tfs/TB1eiXTXlTH8KJjy0FiXXcRsXXa-24-595.png);
	background-repeat: no-repeat;
	background-position: 0 -528px;
}

.member03_r {
	display: inline-block;
	width: 85px;
	height: 16px;
	line-height: 16px;
	background: #ffe4dd;
	font-size: 12px;
	color: #f40;
	border-radius: 50px;
}

.member03_r_img {
	float: left;
	width: 16px;
	height: 16px;
	background-image: url(https://img.alicdn.com/tfs/TB1eiXTXlTH8KJjy0FiXXcRsXXa-24-595.png);
	background-repeat: no-repeat;
	background-position: 0 -572px;
}

.member04 {
	width: 290px;
	height: 54px;
}

.member04 a {
	display: table;
	float: left;
	width: 50px;
	height: 54px;
	padding: 0 10px;
	font-size: 12px;
	text-align: center;
	
}

.member04 span {
	display: table-cell;
	vertical-align: middle;
}

.member04 span:hover {
	color: #f40;
}

.member04 strong {
	font-size: 14px;
	color: #f40;
	font-family: tahoma,arial,sans-serif;
}

.nav4_right1 > a {
	display: block;
	position: relative;
	text-decoration: none;
	font-size: 13px;
	background: #ffe4dd;
}

.nav4_right1 > a p {
	height: 25px;
	line-height: 25px;
	color: #f40;
	text-align: center;
}

.a_icon {
	display: inline-block;
	position: absolute;
    border-top: 5px solid transparent;
    border-right: 8.66px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 8.66px solid #f40;
    right: 13%;
    top: 30%;
}

.news {
	height: 105px;
}

.news_tit {
	height: 32px;
}

.news_tit_li {
	list-style: none;
	float: left;
	width: 30px;
	height: 30px;
	line-height: 42px;
	margin: 0 14px;
	font-size: 12px;
	text-align: center;
	font-weight: normal;
}

.new {
	font-weight: bold;
	border-bottom: 2px solid #f40;
}

.news_tit li:hover a{
	color: #f40;
}

.news_con {
	display: none;
	height: 59px;
	margin-top: 13px;
	border-bottom: 1px solid #eee;
}

.news_block {
	display: block;
	height: 59px;
	margin-top: 13px;
	border-bottom: 1px solid #eee;
}

.news_con1 {
	float: left;
	width: 130px;
	height: 26px;
	line-height: 26px;
	font-size: 12px;
	margin-left: 10px;
	overflow: hidden;
}



.nav4_right2 {
	height: 167px;
	width: 290px;
	
}

.nav4_right2 tr {
	width: 290px;
	height: 55px;
	
}

.nav4_right2 td {
	width: 72px;
	height: 54px;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
	font-size: 12px;
	text-align: center;
}

.nav4_right2 td > div {
	height: 24px;
	width: 24px;
	margin: 0 auto 2px auto;
	background-image: url(https://img.alicdn.com/tfs/TB1eiXTXlTH8KJjy0FiXXcRsXXa-24-595.png);
	background-repeat: no-repeat;
}





